# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [53]:
import pandas as pd
 
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

df = pd.read_csv(url)

df.shape

(10910, 26)

In [3]:
df.isna().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [17]:
condition = (df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')

In [19]:
df_new = df[condition]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [22]:
df[df['Response'] == 'Yes'].groupby(['Policy Type','Gender'])['Total Claim Amount'].mean()

Policy Type     Gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
                M         429.527942
Name: Total Claim Amount, dtype: float64

In [27]:
df['Response'].value_counts()

Response
No     8813
Yes    1466
Name: count, dtype: int64

- The 'Corporate Auto' policy type has the smallest average total claim amount for both females and males. However, the differences in average claim amounts between different policy types appear to be relatively small.

- On average, the total claim amount is similar for both females and males. The most significant difference between these two groups is observed for the 'Corporate Auto' policy type.

- The data suggests that there could be additional factors influencing the total claim amount.

- The analysis only includes people who responded 'Yes' to the last marketing campaign, thus a relatively small sample of 1466 persons out of over 10,000 customers. The limited number of customers might impact the generalizability of the conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [46]:
# Total number of customers per state

per_state = df['State'].value_counts().reset_index()
per_state

        State  count
0  California   3552
1      Oregon   2909
2     Arizona   1937
3      Nevada    993
4  Washington    888

In [49]:
# Filter the results

per_state[per_state['count'] > 500]

        State  count
0  California   3552
1      Oregon   2909
2     Arizona   1937
3      Nevada    993
4  Washington    888

In [55]:
df[df['State'].isin(per_state[per_state['count']>500]['State'])].shape

(10279, 26)

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [64]:
df.groupby(['Education','Gender'])['Customer Lifetime Value'].agg(['max','min','median'])

                                     max          min       median
Education            Gender
Bachelor             F       73225.95652  1904.000852  5640.505303
                     M       67907.27050  1898.007675  5548.031892
College              F       61850.18803  1898.683686  5623.611187
                     M       61134.68307  1918.119700  6005.847375
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5577.669457
High School or Below F       55277.44589  2144.921535  6039.553187
                     M       83325.38119  1940.981221  6286.731006
Master               F       51016.06704  2417.777032  5729.855012
                     M       50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [73]:
# but there is no a column with months... not sure how to proceed

df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [75]:
df.groupby('State')['Number of Policies'].sum()

State
Arizona        5916
California    10602
Nevada         2771
Oregon         8666
Washington     2583
Name: Number of Policies, dtype: int64

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [81]:
# your code goes here

df['Sales Channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [79]:
df['Response'].unique()

array(['No', 'Yes', nan], dtype=object)

In [98]:
#The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
#Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel

# I'm assuming that response rate = total number of 'Yes' responses / total number of responses * 100 to get the percentage value 

sales = (df[df['Response']=='Yes'].groupby('Sales Channel')['Response'].count() / df.groupby('Sales Channel')['Response'].count() *100).reset_index()

In [100]:
sales.rename(columns={'Response': 'Response rate'})

  Sales Channel  Response rate
0         Agent      19.074550
1        Branch      11.378709
2   Call Center      10.978639
3           Web      11.714097

In [101]:
sales.set_index('Sales Channel')

                Response
Sales Channel
Agent          19.074550
Branch         11.378709
Call Center    10.978639
Web            11.714097

Comment : I don't understand for what we should use melt() here?